/* Table.css */
table {
    width: 40%;
    border-collapse: collapse;
}

thead {
    background-color: #6ac998;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #dba934;
}